Makefile
/inc/
MANIFEST
*.bak
*.swp
*.old
nytprof.out
nytprof/
*.db
/blib/
pm_to_blib
META.yml
MYMETA.json
MYMETA.yml
/Build
/_build/
/local/
/.carton/
/OIDC-Lite-Demo-Client-*
/.build
/_build_params
/config/development.pl.*
cpanfile.snapshot
!Build/
!META.json
!LICENSE
