[% WRAPPER 'include/layout.tt' %]

<h1>OIDC::Lite::Demo::Client</h1>

<hr />

<div>
    <h2>Select OpenID Provider</h2>
    <div>
        <ul>
        <li><a href="/google">Google</a></li>
        <li><a href="/sample">OIDC::Lite::Demo::Server</a></li>
        <li><a href="/idit2013">PingFederate(for ID&IT 2013 Hands On)</a></li>
        </ul>
    </div>
</div>

<hr />

[% END %]
